.footer-style{
    position: relative;
    bottom: 0;
    left: 15%;
    min-width: 100%;
    margin: auto;
    text-align: center;
    height: 15%;
}

.footer-content{
    max-width: 70%;
    border-top: 1px solid #f2f2f2;
    padding-top: 40px;
    border-radius: 5px;
    font-size: clamp(1rem, -0.875rem + 5.5vw, 1.2rem);
    height: 70px;
    font-weight: 700;
}

.footer-content p{
    color: #c5ad58;
}