.course-content{
    max-width: 70%;
    margin: auto;
}

.subjects h1{
    font-size: 250%;
    font-weight: 900;
    margin-top: 20px;
    margin-bottom: 20px;
}

.subjects p{
    margin-bottom: 20px;
}
