@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap');
.forum{
    max-width: 70%;
    margin: auto;
}
.forum-list{
    min-width: 100%;
}
.heading{
    min-width: 100%;
    margin: auto;
}
.heading h1{
    padding-top: 20px;
    padding-bottom: 20px;
}
.heading button{
    position: relative;
    left : 90%;
}
.content{
    border-radius: 5px;
    min-width: 100%;
    margin: auto;
    padding: 3%;
    box-shadow: 0px 5px 8px #9c9a91;
    margin-bottom: 20px;
}

.forum-button{
    margin: 0;
    border: none;
    border-radius: 5px;
    width: fit-content;
    background-color: #fff;
    font-size: 16px;
    padding: 12px;
    box-shadow: 0px 1px 2px #9c9a91;
}

.forum-button:hover {
    box-shadow: inset 0px 2px 3px #9c9a91;
}

.author{
    font-weight: 200;
    font-style: italic;
}

.content h3{
    padding-top: 16px;
}