@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap');
.forum{
    width: 70%;
    margin: auto;
}

.forum-list{
    width: 100%;
}
.heading{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading h1{
    padding-top: 20px;
    padding-bottom: 20px;
    flex-grow: 6;
}
.heading button{
    width: fit-content;
    flex-grow: 1;
    height: 40px;
    margin: 0;
    border: none;
    border-radius: 5px;
    width: fit-content;
    background-color: #C8A5D9;
    color: #f2f2f2;
    font-size: 16px;
    box-shadow: 0px 1px 2px #604f68;
    
}

.heading button:hover{
    box-shadow: inset 0px 2px 3px #604f68;
}
.forum-content{
    min-height: fit-content;
    border-radius: 5px;
    padding: 5%;
    box-shadow: 0px 5px 8px #604f68;
    margin-bottom: 20px;
}

.forum-button-div{
    margin: 0;
    border: none;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
    font-size: 12px;
    padding-top: 10px;
}
.forum-button{
    width: fit-content;
    height: fit-content;
    border: none;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    background-color: #fff;
    font-size: 12px;
    padding: 8px;
    margin-right: 10px;
    box-shadow: 0px 1px 2px #604f68;
}



.forum-button:hover {
    box-shadow: inset 0px 2px 3px #604f68;
}

.author{
    font-weight: 200;
    font-style: italic;
}

.content h3{
    padding-top: 16px;
}