
.quiz-main{
    background-color: #fff;
    width: 70%;
    margin: auto;
    font-size:xx-large;
    border-radius: 5px;
    box-shadow: 0px 3px 8px #9c9a91;;
    display: flex;
    justify-content: space-evenly;
  }
  
  .score-section {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  .reload{
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    width: fit-content;
    background-color: #fff;
    font-size: 16px;
    padding: 12px;
    box-shadow: 0px 1px 2px #9c9a91;
  }
  .reload:hover{
    box-shadow: inset 0px 2px 3px #9c9a91;
  }
  
  /* QUESTION/TIMER/LEFT SECTION */
  .question-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    position: relative;
    padding: 20px 0px 20px 20px;
  }
  
  .answer-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 20px 20px 0px;
    justify-content: space-around;
  }

  .question-count {
    flex-grow: 1;
    width: fit-content;
    height: fit-content;
    font-weight: 500;
    font-size: 2.8vmin;
    padding-bottom: 4px;
    border-bottom: 1px solid #666;
  }

  .answer{
    flex-grow: 1;
    border-radius: 3px;
    padding: 5px;
    color: #DEC362;
    font-size: 2.6vmin;
}

.next-btn-div{
  flex-grow: 1;
  margin-top: 20px;
}
  
.question-text {
  flex-grow: 5;
  margin-top: 5px;
  margin-bottom: 12px;
  font-size: 2.8vmin;
  font-weight: 400;
}
  .question-count span {
    font-size: 2.8vmin;
    font-weight: 500;
  }

 
  
  .timer-text {
    background: rgb(230, 153, 12);
    padding: 15px;
    margin-top: 20px;
    margin-right: 20px;
    border: 5px solid rgb(255, 189, 67);
    border-radius: 15px;
    text-align: center;
  }
  
  /* ANSWERS/RIGHT SECTION */

  
  .quiz-btn {
    text-align: center;
    height: 20%;
    border: none;
    border-radius: 5px;
    margin: auto;
    width: 80%;
    background-color: #DEC362;
    color: #fff;
    font-size: 3vmin;
    font-weight: 500;
    box-shadow: 0px 1px 2px #9c9a91;
    /* width: 100%;
    font-size: 16px;
    color: #ffffff;
    background-color: #9c9a91;
    border-radius: 15px;
    display: flex;
    padding: 5px;
    justify-content: flex-start;
    align-items: center;
    border: 5px solid #234668;
    cursor: pointer; */
  }
  /* .next-btn{
    margin-top: 20px;
    position: absolute;
    bottom: 10%;
    border: none;
    border-radius: 5px;
    width: fit-content;
    background-color: #fff;
    font-size: 2.6vmin;
    padding: 12px;
    box-shadow: 0px 1px 2px #9c9a91;
  } */

  .next-btn-div button {
    font-size: 2.6vmin;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    box-shadow: 0px 1px 2px #9c9a91;
  }
  .next-btn-div button:hover{
    box-shadow: inset 0px 2px 3px #9c9a91;
  }

  .correct {
    background-color: #2f922f;
  }
  
  .incorrect {
    background-color: #ff3333;
  }
  
  .quiz-btn:hover {
    box-shadow: inset 0px 2px 3px #9c9a91;
  }
  
  button svg {
    margin-right: 5px;
  }