.subtopic-main {
  width: 70%;
  margin: auto;
  height: 20%;
}

.subtopic-list {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.subtopic-links {
  width: 100%;
  text-align: left;
  height: 150px;
  border-radius: 3px;
  margin: 20px 0px;
  padding: 20px;
  font-size: 18px;
  font-weight: 500;
  border: none;
  background-color: #fff;
  box-shadow: 0px 1px 2px #604f68;
}

.subtopic-list button:hover {
  box-shadow: inset 0px 2px 3px #604f68;
}
