@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap');

* {
  margin:0;
  font-family: "Quicksand";
  color: #666;
}


.login-form{
    display: flexbox;
    max-width: 70%;
    margin: 40px auto;
    border: #666;
    align-items: center;
  }
  
  .login-container{
    background-color: #fff;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 3px 8px #604f68;;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .login-form input{
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin: 20px 0px;
    padding: 16px;
    display: flex;
    background-color: #f2f2f2;
  }
  
  .login-form button{
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    width: fit-content;
    background-color: #C8A5D9;
    color: #f2f2f2;
    font-size: 16px;
    padding: 8px 16px;
    box-shadow: 0px 1px 2px #604f68;
  }
  
  .login-form button:hover{
    box-shadow: inset 0px 2px 3px #604f68;
  }

  .signup-link{
    padding-top: 10px;
  }

  .signup-link a{
    padding-left: 1px;
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    text-decoration-color: #666;
  }

  .signup-link a:hover{
    font-weight: 500;
  }